
/*  Palette:
    Light:  #F7E4AB;
    Medium: #DEB476;
    Red:    #841815;
    Old:    #462F39;
    Crawl:  #36382B;
*/

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    background-image: url(bg.png);
    font-family: Georgia, "Century Schoolbook L", "Times New Roman", Times;
    font-size: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    x-padding-bottom: 1px;
}

/* ============================================================================
//      Links
// ============================================================================ */

a {
    border: 1px solid #462F39;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 3px 10px;
    text-decoration: none;
    background-color: #FFF;
    color: #000;
    display: inline-block;
}

a:hover {
    background-color: #EEF;
}

a.big {
    font-size: 150%;
}

a.disabled {
    border-color: #888;
    color: #888;
    background-color: #CCC;
}

a.disabled:hover {
    background-color: #CCC;
}

/* ============================================================================
//      Tables of class "std"
// ============================================================================ */

table.std {
    margin: 10px 0px 20px 0;
    border-collapse: collapse;
    border: 0;
}

table.std th, table.std td {
    border: 1px dotted #CB9F5B;
    border-left: 0px;
    border-right: 0px;
    padding: 5px 15px;
}

table.std .hilight td, table.std .hilight th {
    background-color: #DEB476;
}

table.std th {
    border-top-width: 0;
    border-bottom-style: solid;
    x-background-color: #CB9F5B;
}

/* ============================================================================
//      State "game-*"
// ============================================================================ */

body .game-running,
body.game-running .game-stopped {
    display: none;
}

body.game-running .game-running {
    display: inherit;
}

/* ============================================================================
//      State "page-*"
// ============================================================================ */

body .page.show-overview,
body .page.show-quiz {
    display: none;
}

body.show-overview .page.show-overview,
body.show-quiz     .page.show-quiz {
    display: inherit;
}

body.show-overview .tab.show-overview,
body.show-quiz     .tab.show-quiz {
    background-image: url(bg.png);
}

/* ============================================================================
//      Head
// ============================================================================ */

#head {
    background-color: #462F39;
    color: #FFF;
    padding: 20px;
    x-border-bottom: 1px solid #F7E4AB;
}

#head-i, #body {
    width: 800px;
    margin: 0px auto;
}

/* ============================================================================
//      tabs
// ============================================================================ */

.tabs {
    padding: 0 20px;
}

.tabs .tab {
    position: relative;
    border-top: 1px solid black;
    background-color: #DEB476;
    color: #000;
    padding: 10px 20px 20px 20px;
    cursor: pointer;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-radius-topright: 10px;
    -webkit-border-radius-topleft: 10px;
    border-radius-topright: 10px;
    border-radius-topleft: 10px;
}

.tabs .tab.disabled {
    background-color: #CCC;
}

.tabs .tab.disabled a {
    color: #888;
}

.tabs .tab a {
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
}

/* unused:
.tabs .tab.active {
    background-image: url(bg.png);
}
*/

/* ============================================================================
//      Content boxes
// ============================================================================ */

.cbox {
    border: 2px solid #462F39;
    margin: 10px 0;
    background-color: #F7E4AB;
    padding-bottom: 20px;
}

.cbox h1, .cbox > div {
    margin: 0;
    padding: 0 20px;
}

.cbox h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* ============================================================================
//      Quiz content
// ============================================================================ */

.qentry {
    padding-top: 3em !important;
}

.qtype {
    position: relative;
    top: -3em;
}

.qtype-i {
    position: absolute;
    font-size: 400%;
    color: #888;
    padding: 10px;
}

.qauthor {
    border-bottom: 1px dotted #888;
    text-align: right;
    padding: 0 10px 2px 0;
}

.qcontent {
    x-padding: 10px;
    font-size: 150%;
}

.qtype-nav.active, .qtype-nav.other {
    padding-right: 10px;
}

.qtype-nav.active {
    color: #841815;
    padding-right: 10px;
}

.qactions .title {
    border-bottom: 1px dotted #888;
    margin-top: 20px;
    margin-bottom: 10px;
}

.qactions .skip {
    float: right;
}

.qactions .actions {
    x-font-size: 125%;
}

/* ============================================================================
//      EOF
// ============================================================================ */
