
/*  Palette:
    Light:  #F7E4AB;
    Medium: #DEB476;
    Red:    #841815;
    Old:    #462F39;
    Crawl:  #36382B;
*/

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    background-image: url(bg.png);
    font-family: Georgia, "Century Schoolbook L", "Times New Roman", Times;
    font-size: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    x-padding-bottom: 1px;
}

a {
    border: 1px solid #462F39;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 3px 10px;
    text-decoration: none;
    background-color: #FFF;
    color: #000;
    display: inline-block;
}

a:hover {
    background-color: #EEF;
}

a.big {
    font-size: 150%;
}

a.disabled {
    border-color: #888;
    color: #888;
    background-color: #CCC;
}

a.disabled:hover {
    background-color: #CCC;
}

table.std {
    margin: 10px 0px 20px 0;
    border-collapse: collapse;
    border: 0;
}

table.std th, table.std td {
    border: 1px dotted #CB9F5B;
    border-left: 0px;
    border-right: 0px;
    padding: 5px 15px;
}

table.std .hilight td, table.std .hilight th {
    background-color: #DEB476;
}

body .game-running {
    display: none;
}
body.game-running .game-running {
    display: inherit;
}
body.game-running .game-stopped {
    display: none;
}

table.std th {
    border-top-width: 0;
    border-bottom-style: solid;
    x-background-color: #CB9F5B;
}

#head {
    background-color: #462F39;
    color: #FFF;
    padding: 20px;
    x-border-bottom: 1px solid #F7E4AB;
}

#head-i, #body {
    width: 800px;
    margin: 0px auto;
}

#head .tabs {
    padding: 0 20px;
}

#head .tab {
    position: relative;
    border-top: 1px solid black;
    background-color: #DEB476;
    color: #000;
    padding: 10px 20px 20px 20px;
    cursor: pointer;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-radius-topright: 10px;
    -webkit-border-radius-topleft: 10px;
    border-radius-topright: 10px;
    border-radius-topleft: 10px;
}

#head .tab.active {
    background-image: url(bg.png);
}

#body .page {
    display: none;
}

#body .page.active {
    display: inherit;
}

.cbox {
    x-width: 800px;
    border: 2px solid #462F39;
    margin: 10px 0;
    background-color: #F7E4AB;
    padding-bottom: 20px;
}

.cbox h1, .cbox > div {
    margin: 0;
    padding: 0 20px;
}

.cbox h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.qentry {
    x-width: 800px;
    x-border: 2px solid #462F39;
    x-margin: 10px 0;
    x-background-color: #F7E4AB;
}

.qtype {
    position: relative;
}

.qtype-i {
    position: absolute;
    font-size: 400%;
    color: #888;
    padding: 10px;
}

.qauthor {
    margin-top: 3em;
    x-border-top: 1px dotted #888;
    border-bottom: 1px dotted #888;
    text-align: right;
    padding: 0 10px 2px 0;
}

.qcontent {
    padding: 10px;
    font-size: 150%;
}

.qtype-nav.active, .qtype-nav.other {
    padding-right: 10px;
}

.qtype-nav.active {
    color: #841815;
    padding-right: 10px;
}
